/*
    Gluon follows the following scheme for creating minimalistic classes
    [property+modifier]-[breakpoint]*-[value]

    property: margin, padding, text,
    modifier: left, right, bottom, center, top, etc...
    breakpoint*: optional, the shorthand name of the media breakpoint (xs, sm, md)
    value: the value set on the css property. (auto, 5, 10, left, etc...)
    separator: (-) the separator can be set individually


*/
.p-0 {
  padding: 0;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-40 {
  padding: 40px;
}

.p-auto {
  padding: auto;
}

.pt-0 {
  padding-top: 0;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-auto {
  padding-top: auto;
}

.pr-0 {
  padding-right: 0;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-auto {
  padding-right: auto;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-auto {
  padding-bottom: auto;
}

.pl-0 {
  padding-left: 0;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-auto {
  padding-left: auto;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.m-0 {
  margin: 0;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-40 {
  margin: 40px;
}

.m-auto {
  margin: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-auto {
  margin-top: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-auto {
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-auto {
  margin-left: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 599px) {
  .p-xs-0 {
    padding: 0;
  }

  .p-xs-5 {
    padding: 5px;
  }

  .p-xs-10 {
    padding: 10px;
  }

  .p-xs-20 {
    padding: 20px;
  }

  .p-xs-40 {
    padding: 40px;
  }

  .p-xs-auto {
    padding: auto;
  }

  .pt-xs-0 {
    padding-top: 0;
  }

  .pt-xs-5 {
    padding-top: 5px;
  }

  .pt-xs-10 {
    padding-top: 10px;
  }

  .pt-xs-20 {
    padding-top: 20px;
  }

  .pt-xs-40 {
    padding-top: 40px;
  }

  .pt-xs-auto {
    padding-top: auto;
  }

  .pr-xs-0 {
    padding-right: 0;
  }

  .pr-xs-5 {
    padding-right: 5px;
  }

  .pr-xs-10 {
    padding-right: 10px;
  }

  .pr-xs-20 {
    padding-right: 20px;
  }

  .pr-xs-40 {
    padding-right: 40px;
  }

  .pr-xs-auto {
    padding-right: auto;
  }

  .pb-xs-0 {
    padding-bottom: 0;
  }

  .pb-xs-5 {
    padding-bottom: 5px;
  }

  .pb-xs-10 {
    padding-bottom: 10px;
  }

  .pb-xs-20 {
    padding-bottom: 20px;
  }

  .pb-xs-40 {
    padding-bottom: 40px;
  }

  .pb-xs-auto {
    padding-bottom: auto;
  }

  .pl-xs-0 {
    padding-left: 0;
  }

  .pl-xs-5 {
    padding-left: 5px;
  }

  .pl-xs-10 {
    padding-left: 10px;
  }

  .pl-xs-20 {
    padding-left: 20px;
  }

  .pl-xs-40 {
    padding-left: 40px;
  }

  .pl-xs-auto {
    padding-left: auto;
  }

  .py-xs-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-xs-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .py-xs-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .py-xs-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .py-xs-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .py-xs-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  .px-xs-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-xs-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .px-xs-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .px-xs-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .px-xs-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .px-xs-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .m-xs-0 {
    margin: 0;
  }

  .m-xs-5 {
    margin: 5px;
  }

  .m-xs-10 {
    margin: 10px;
  }

  .m-xs-20 {
    margin: 20px;
  }

  .m-xs-40 {
    margin: 40px;
  }

  .m-xs-auto {
    margin: auto;
  }

  .mt-xs-0 {
    margin-top: 0;
  }

  .mt-xs-5 {
    margin-top: 5px;
  }

  .mt-xs-10 {
    margin-top: 10px;
  }

  .mt-xs-20 {
    margin-top: 20px;
  }

  .mt-xs-40 {
    margin-top: 40px;
  }

  .mt-xs-auto {
    margin-top: auto;
  }

  .mr-xs-0 {
    margin-right: 0;
  }

  .mr-xs-5 {
    margin-right: 5px;
  }

  .mr-xs-10 {
    margin-right: 10px;
  }

  .mr-xs-20 {
    margin-right: 20px;
  }

  .mr-xs-40 {
    margin-right: 40px;
  }

  .mr-xs-auto {
    margin-right: auto;
  }

  .mb-xs-0 {
    margin-bottom: 0;
  }

  .mb-xs-5 {
    margin-bottom: 5px;
  }

  .mb-xs-10 {
    margin-bottom: 10px;
  }

  .mb-xs-20 {
    margin-bottom: 20px;
  }

  .mb-xs-40 {
    margin-bottom: 40px;
  }

  .mb-xs-auto {
    margin-bottom: auto;
  }

  .ml-xs-0 {
    margin-left: 0;
  }

  .ml-xs-5 {
    margin-left: 5px;
  }

  .ml-xs-10 {
    margin-left: 10px;
  }

  .ml-xs-20 {
    margin-left: 20px;
  }

  .ml-xs-40 {
    margin-left: 40px;
  }

  .ml-xs-auto {
    margin-left: auto;
  }

  .my-xs-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .my-xs-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .my-xs-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .my-xs-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .my-xs-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .my-xs-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .mx-xs-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mx-xs-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .mx-xs-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mx-xs-20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mx-xs-40 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mx-xs-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  .p-sm-0 {
    padding: 0;
  }

  .p-sm-5 {
    padding: 5px;
  }

  .p-sm-10 {
    padding: 10px;
  }

  .p-sm-20 {
    padding: 20px;
  }

  .p-sm-40 {
    padding: 40px;
  }

  .p-sm-auto {
    padding: auto;
  }

  .pt-sm-0 {
    padding-top: 0;
  }

  .pt-sm-5 {
    padding-top: 5px;
  }

  .pt-sm-10 {
    padding-top: 10px;
  }

  .pt-sm-20 {
    padding-top: 20px;
  }

  .pt-sm-40 {
    padding-top: 40px;
  }

  .pt-sm-auto {
    padding-top: auto;
  }

  .pr-sm-0 {
    padding-right: 0;
  }

  .pr-sm-5 {
    padding-right: 5px;
  }

  .pr-sm-10 {
    padding-right: 10px;
  }

  .pr-sm-20 {
    padding-right: 20px;
  }

  .pr-sm-40 {
    padding-right: 40px;
  }

  .pr-sm-auto {
    padding-right: auto;
  }

  .pb-sm-0 {
    padding-bottom: 0;
  }

  .pb-sm-5 {
    padding-bottom: 5px;
  }

  .pb-sm-10 {
    padding-bottom: 10px;
  }

  .pb-sm-20 {
    padding-bottom: 20px;
  }

  .pb-sm-40 {
    padding-bottom: 40px;
  }

  .pb-sm-auto {
    padding-bottom: auto;
  }

  .pl-sm-0 {
    padding-left: 0;
  }

  .pl-sm-5 {
    padding-left: 5px;
  }

  .pl-sm-10 {
    padding-left: 10px;
  }

  .pl-sm-20 {
    padding-left: 20px;
  }

  .pl-sm-40 {
    padding-left: 40px;
  }

  .pl-sm-auto {
    padding-left: auto;
  }

  .py-sm-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-sm-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .py-sm-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .py-sm-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .py-sm-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .py-sm-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-sm-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .px-sm-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .px-sm-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .px-sm-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .px-sm-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .m-sm-0 {
    margin: 0;
  }

  .m-sm-5 {
    margin: 5px;
  }

  .m-sm-10 {
    margin: 10px;
  }

  .m-sm-20 {
    margin: 20px;
  }

  .m-sm-40 {
    margin: 40px;
  }

  .m-sm-auto {
    margin: auto;
  }

  .mt-sm-0 {
    margin-top: 0;
  }

  .mt-sm-5 {
    margin-top: 5px;
  }

  .mt-sm-10 {
    margin-top: 10px;
  }

  .mt-sm-20 {
    margin-top: 20px;
  }

  .mt-sm-40 {
    margin-top: 40px;
  }

  .mt-sm-auto {
    margin-top: auto;
  }

  .mr-sm-0 {
    margin-right: 0;
  }

  .mr-sm-5 {
    margin-right: 5px;
  }

  .mr-sm-10 {
    margin-right: 10px;
  }

  .mr-sm-20 {
    margin-right: 20px;
  }

  .mr-sm-40 {
    margin-right: 40px;
  }

  .mr-sm-auto {
    margin-right: auto;
  }

  .mb-sm-0 {
    margin-bottom: 0;
  }

  .mb-sm-5 {
    margin-bottom: 5px;
  }

  .mb-sm-10 {
    margin-bottom: 10px;
  }

  .mb-sm-20 {
    margin-bottom: 20px;
  }

  .mb-sm-40 {
    margin-bottom: 40px;
  }

  .mb-sm-auto {
    margin-bottom: auto;
  }

  .ml-sm-0 {
    margin-left: 0;
  }

  .ml-sm-5 {
    margin-left: 5px;
  }

  .ml-sm-10 {
    margin-left: 10px;
  }

  .ml-sm-20 {
    margin-left: 20px;
  }

  .ml-sm-40 {
    margin-left: 40px;
  }

  .ml-sm-auto {
    margin-left: auto;
  }

  .my-sm-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .my-sm-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .my-sm-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .my-sm-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .my-sm-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .my-sm-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .mx-sm-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mx-sm-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .mx-sm-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mx-sm-20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mx-sm-40 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mx-sm-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  .p-md-0 {
    padding: 0;
  }

  .p-md-5 {
    padding: 5px;
  }

  .p-md-10 {
    padding: 10px;
  }

  .p-md-20 {
    padding: 20px;
  }

  .p-md-40 {
    padding: 40px;
  }

  .p-md-auto {
    padding: auto;
  }

  .pt-md-0 {
    padding-top: 0;
  }

  .pt-md-5 {
    padding-top: 5px;
  }

  .pt-md-10 {
    padding-top: 10px;
  }

  .pt-md-20 {
    padding-top: 20px;
  }

  .pt-md-40 {
    padding-top: 40px;
  }

  .pt-md-auto {
    padding-top: auto;
  }

  .pr-md-0 {
    padding-right: 0;
  }

  .pr-md-5 {
    padding-right: 5px;
  }

  .pr-md-10 {
    padding-right: 10px;
  }

  .pr-md-20 {
    padding-right: 20px;
  }

  .pr-md-40 {
    padding-right: 40px;
  }

  .pr-md-auto {
    padding-right: auto;
  }

  .pb-md-0 {
    padding-bottom: 0;
  }

  .pb-md-5 {
    padding-bottom: 5px;
  }

  .pb-md-10 {
    padding-bottom: 10px;
  }

  .pb-md-20 {
    padding-bottom: 20px;
  }

  .pb-md-40 {
    padding-bottom: 40px;
  }

  .pb-md-auto {
    padding-bottom: auto;
  }

  .pl-md-0 {
    padding-left: 0;
  }

  .pl-md-5 {
    padding-left: 5px;
  }

  .pl-md-10 {
    padding-left: 10px;
  }

  .pl-md-20 {
    padding-left: 20px;
  }

  .pl-md-40 {
    padding-left: 40px;
  }

  .pl-md-auto {
    padding-left: auto;
  }

  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-md-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .py-md-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .py-md-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .py-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .py-md-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  .px-md-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-md-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .px-md-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .px-md-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .px-md-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .px-md-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .m-md-0 {
    margin: 0;
  }

  .m-md-5 {
    margin: 5px;
  }

  .m-md-10 {
    margin: 10px;
  }

  .m-md-20 {
    margin: 20px;
  }

  .m-md-40 {
    margin: 40px;
  }

  .m-md-auto {
    margin: auto;
  }

  .mt-md-0 {
    margin-top: 0;
  }

  .mt-md-5 {
    margin-top: 5px;
  }

  .mt-md-10 {
    margin-top: 10px;
  }

  .mt-md-20 {
    margin-top: 20px;
  }

  .mt-md-40 {
    margin-top: 40px;
  }

  .mt-md-auto {
    margin-top: auto;
  }

  .mr-md-0 {
    margin-right: 0;
  }

  .mr-md-5 {
    margin-right: 5px;
  }

  .mr-md-10 {
    margin-right: 10px;
  }

  .mr-md-20 {
    margin-right: 20px;
  }

  .mr-md-40 {
    margin-right: 40px;
  }

  .mr-md-auto {
    margin-right: auto;
  }

  .mb-md-0 {
    margin-bottom: 0;
  }

  .mb-md-5 {
    margin-bottom: 5px;
  }

  .mb-md-10 {
    margin-bottom: 10px;
  }

  .mb-md-20 {
    margin-bottom: 20px;
  }

  .mb-md-40 {
    margin-bottom: 40px;
  }

  .mb-md-auto {
    margin-bottom: auto;
  }

  .ml-md-0 {
    margin-left: 0;
  }

  .ml-md-5 {
    margin-left: 5px;
  }

  .ml-md-10 {
    margin-left: 10px;
  }

  .ml-md-20 {
    margin-left: 20px;
  }

  .ml-md-40 {
    margin-left: 40px;
  }

  .ml-md-auto {
    margin-left: auto;
  }

  .my-md-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .my-md-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .my-md-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .my-md-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .my-md-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .my-md-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .mx-md-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mx-md-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .mx-md-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mx-md-20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mx-md-40 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mx-md-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .p-lg-0 {
    padding: 0;
  }

  .p-lg-5 {
    padding: 5px;
  }

  .p-lg-10 {
    padding: 10px;
  }

  .p-lg-20 {
    padding: 20px;
  }

  .p-lg-40 {
    padding: 40px;
  }

  .p-lg-auto {
    padding: auto;
  }

  .pt-lg-0 {
    padding-top: 0;
  }

  .pt-lg-5 {
    padding-top: 5px;
  }

  .pt-lg-10 {
    padding-top: 10px;
  }

  .pt-lg-20 {
    padding-top: 20px;
  }

  .pt-lg-40 {
    padding-top: 40px;
  }

  .pt-lg-auto {
    padding-top: auto;
  }

  .pr-lg-0 {
    padding-right: 0;
  }

  .pr-lg-5 {
    padding-right: 5px;
  }

  .pr-lg-10 {
    padding-right: 10px;
  }

  .pr-lg-20 {
    padding-right: 20px;
  }

  .pr-lg-40 {
    padding-right: 40px;
  }

  .pr-lg-auto {
    padding-right: auto;
  }

  .pb-lg-0 {
    padding-bottom: 0;
  }

  .pb-lg-5 {
    padding-bottom: 5px;
  }

  .pb-lg-10 {
    padding-bottom: 10px;
  }

  .pb-lg-20 {
    padding-bottom: 20px;
  }

  .pb-lg-40 {
    padding-bottom: 40px;
  }

  .pb-lg-auto {
    padding-bottom: auto;
  }

  .pl-lg-0 {
    padding-left: 0;
  }

  .pl-lg-5 {
    padding-left: 5px;
  }

  .pl-lg-10 {
    padding-left: 10px;
  }

  .pl-lg-20 {
    padding-left: 20px;
  }

  .pl-lg-40 {
    padding-left: 40px;
  }

  .pl-lg-auto {
    padding-left: auto;
  }

  .py-lg-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-lg-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .py-lg-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .py-lg-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .py-lg-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .py-lg-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  .px-lg-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-lg-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .px-lg-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .px-lg-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .px-lg-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .px-lg-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .m-lg-0 {
    margin: 0;
  }

  .m-lg-5 {
    margin: 5px;
  }

  .m-lg-10 {
    margin: 10px;
  }

  .m-lg-20 {
    margin: 20px;
  }

  .m-lg-40 {
    margin: 40px;
  }

  .m-lg-auto {
    margin: auto;
  }

  .mt-lg-0 {
    margin-top: 0;
  }

  .mt-lg-5 {
    margin-top: 5px;
  }

  .mt-lg-10 {
    margin-top: 10px;
  }

  .mt-lg-20 {
    margin-top: 20px;
  }

  .mt-lg-40 {
    margin-top: 40px;
  }

  .mt-lg-auto {
    margin-top: auto;
  }

  .mr-lg-0 {
    margin-right: 0;
  }

  .mr-lg-5 {
    margin-right: 5px;
  }

  .mr-lg-10 {
    margin-right: 10px;
  }

  .mr-lg-20 {
    margin-right: 20px;
  }

  .mr-lg-40 {
    margin-right: 40px;
  }

  .mr-lg-auto {
    margin-right: auto;
  }

  .mb-lg-0 {
    margin-bottom: 0;
  }

  .mb-lg-5 {
    margin-bottom: 5px;
  }

  .mb-lg-10 {
    margin-bottom: 10px;
  }

  .mb-lg-20 {
    margin-bottom: 20px;
  }

  .mb-lg-40 {
    margin-bottom: 40px;
  }

  .mb-lg-auto {
    margin-bottom: auto;
  }

  .ml-lg-0 {
    margin-left: 0;
  }

  .ml-lg-5 {
    margin-left: 5px;
  }

  .ml-lg-10 {
    margin-left: 10px;
  }

  .ml-lg-20 {
    margin-left: 20px;
  }

  .ml-lg-40 {
    margin-left: 40px;
  }

  .ml-lg-auto {
    margin-left: auto;
  }

  .my-lg-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .my-lg-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .my-lg-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .my-lg-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .my-lg-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .my-lg-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .mx-lg-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mx-lg-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .mx-lg-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mx-lg-20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mx-lg-40 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mx-lg-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1920px) {
  .p-xl-0 {
    padding: 0;
  }

  .p-xl-5 {
    padding: 5px;
  }

  .p-xl-10 {
    padding: 10px;
  }

  .p-xl-20 {
    padding: 20px;
  }

  .p-xl-40 {
    padding: 40px;
  }

  .p-xl-auto {
    padding: auto;
  }

  .pt-xl-0 {
    padding-top: 0;
  }

  .pt-xl-5 {
    padding-top: 5px;
  }

  .pt-xl-10 {
    padding-top: 10px;
  }

  .pt-xl-20 {
    padding-top: 20px;
  }

  .pt-xl-40 {
    padding-top: 40px;
  }

  .pt-xl-auto {
    padding-top: auto;
  }

  .pr-xl-0 {
    padding-right: 0;
  }

  .pr-xl-5 {
    padding-right: 5px;
  }

  .pr-xl-10 {
    padding-right: 10px;
  }

  .pr-xl-20 {
    padding-right: 20px;
  }

  .pr-xl-40 {
    padding-right: 40px;
  }

  .pr-xl-auto {
    padding-right: auto;
  }

  .pb-xl-0 {
    padding-bottom: 0;
  }

  .pb-xl-5 {
    padding-bottom: 5px;
  }

  .pb-xl-10 {
    padding-bottom: 10px;
  }

  .pb-xl-20 {
    padding-bottom: 20px;
  }

  .pb-xl-40 {
    padding-bottom: 40px;
  }

  .pb-xl-auto {
    padding-bottom: auto;
  }

  .pl-xl-0 {
    padding-left: 0;
  }

  .pl-xl-5 {
    padding-left: 5px;
  }

  .pl-xl-10 {
    padding-left: 10px;
  }

  .pl-xl-20 {
    padding-left: 20px;
  }

  .pl-xl-40 {
    padding-left: 40px;
  }

  .pl-xl-auto {
    padding-left: auto;
  }

  .py-xl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py-xl-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .py-xl-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .py-xl-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .py-xl-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .py-xl-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  .px-xl-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px-xl-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .px-xl-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .px-xl-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .px-xl-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .px-xl-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .m-xl-0 {
    margin: 0;
  }

  .m-xl-5 {
    margin: 5px;
  }

  .m-xl-10 {
    margin: 10px;
  }

  .m-xl-20 {
    margin: 20px;
  }

  .m-xl-40 {
    margin: 40px;
  }

  .m-xl-auto {
    margin: auto;
  }

  .mt-xl-0 {
    margin-top: 0;
  }

  .mt-xl-5 {
    margin-top: 5px;
  }

  .mt-xl-10 {
    margin-top: 10px;
  }

  .mt-xl-20 {
    margin-top: 20px;
  }

  .mt-xl-40 {
    margin-top: 40px;
  }

  .mt-xl-auto {
    margin-top: auto;
  }

  .mr-xl-0 {
    margin-right: 0;
  }

  .mr-xl-5 {
    margin-right: 5px;
  }

  .mr-xl-10 {
    margin-right: 10px;
  }

  .mr-xl-20 {
    margin-right: 20px;
  }

  .mr-xl-40 {
    margin-right: 40px;
  }

  .mr-xl-auto {
    margin-right: auto;
  }

  .mb-xl-0 {
    margin-bottom: 0;
  }

  .mb-xl-5 {
    margin-bottom: 5px;
  }

  .mb-xl-10 {
    margin-bottom: 10px;
  }

  .mb-xl-20 {
    margin-bottom: 20px;
  }

  .mb-xl-40 {
    margin-bottom: 40px;
  }

  .mb-xl-auto {
    margin-bottom: auto;
  }

  .ml-xl-0 {
    margin-left: 0;
  }

  .ml-xl-5 {
    margin-left: 5px;
  }

  .ml-xl-10 {
    margin-left: 10px;
  }

  .ml-xl-20 {
    margin-left: 20px;
  }

  .ml-xl-40 {
    margin-left: 40px;
  }

  .ml-xl-auto {
    margin-left: auto;
  }

  .my-xl-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .my-xl-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .my-xl-10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .my-xl-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .my-xl-40 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .my-xl-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .mx-xl-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .mx-xl-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .mx-xl-10 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .mx-xl-20 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mx-xl-40 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mx-xl-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=gluon.css.map */
