/*
    Gluon follows the following scheme for creating minimalistic classes
    [property+modifier]-[breakpoint]*-[value]

    property: margin, padding, text,
    modifier: left, right, bottom, center, top, etc...
    breakpoint*: optional, the shorthand name of the media breakpoint (xs, sm, md)
    value: the value set on the css property. (auto, 5, 10, left, etc...)
    separator: (-) the separator can be set individually


*/
// namespace, use this to prefix all the properties. Example: 'g-'
$gluon: '';
// separator is used to separate modifiers fro
$separator: '-';

$medias : (
   'xs': (min: null,   max: 599px),
   'sm': (min: 600px,  max: 959px),
   'md': (min: 960px,  max: 1279px),
   'lg': (min: 1280px, max: 1919px),
   'xl': (min: 1920px, max: null)
);

$box-model-properties: (
    'p': [padding],
    'pt': [padding-top],
    'pr': [padding-right],
    'pb': [padding-bottom],
    'pl': [padding-left],
    'py': [padding-top, padding-bottom],
    'px': [padding-left, padding-right],
    'm': [margin],
    'mt': [margin-top],
    'mr': [margin-right],
    'mb': [margin-bottom],
    'ml': [margin-left],
    'my': [margin-top, margin-bottom],
    'mx': [margin-left, margin-right],
);

$distance-values: (
    '0': 0,
    '5': 5px,
    '10': 10px,
    '20': 20px,
    '40': 40px,
    'auto': auto
);

$alignment-values: [left, center, right];
$dirrection-modifiers: [top, right, bottom, left];

$text-short: 'text';
$position-short: 'pos';
$cursor-short: 'c';


